:root {
    --board-length: 80vh;
    --white: #e9edcc;
    --black: #779954;
    --color1: #899192;
    --color2: #aeaeae;

    /*chat box color*/
    --chat-box-color: white;
    --message-color: #e5e5e5;

    --scroll-thumb-color: #bcbed550;

    --background-color1: rgb(25, 25, 25);
    --background-color2: rgb(50, 50, 50);
}

* {
    /* border: 1px solid; */
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

body {
    color: var(--color1);
    background: rgb(25, 25, 25);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.game-forms {
    /* display: none; */
    width: 80%;
    max-width: 320px;
    transition: all 0.3s ease;
    position: relative;
}

.join-form,
.create-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.inputs {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.selects {
    appearance: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}

.selects::-ms-expand {
    display: none;
}


#join,
#create,
#room_game_start,
#room_game_exit {
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: medium;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    /* position: relative; */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;
}

#room_game_start {
    display: none;
}

#join:hover,
#create:hover,
#room_game_start:hover,
#room_game_exit:hover {
    box-shadow:
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#join:active,
#create:active,
#room_game_start:active,
#room_game_exit:active,
#msg-button:active {
    transform: scale(0.95, 0.95);
}

.rp-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.room-page {
    display: none;
    height: 70vh;
    width: 90%;
    max-width: 320px;
    transition: all 0.3s ease;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
}

.rp-header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rp-header-h3 {
    font-size: x-large;
}

#shareCode {
    font-weight: bolder;
    font-size: large;
}

.usersList1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
}

.rp-list {
    border-radius: 5px;
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid;
}

.rp-list-radio {
    cursor: pointer;
    width: 30px;
}

.rp-list-label {
    gap: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.rp-list-img {
    border: 1px solid;
    height: 100%;
    border-radius: 5px;
}

.rp-list-h4 {
    flex-grow: 1;
}

.rp-list-span {
    font-style: italic;
    font-size: small;
}

.game-move-chat {
    display: none;
    flex-direction: row;
    gap: 5px;
}

.p-b-p {
    display: flex;
    flex-direction: column;
}

#board {
    height: var(--board-length);
    width: var(--board-length);
    display: flex;
    flex-direction: column;
}

.player {
    height: calc(var(--board-length) / 10);
    width: var(--board-length);
    background-color: var(--background-color1);
    display: flex;
}

.player-img {
    border: 1px solid;
    height: 90%;
    background-color: white;
    border-radius: 5px;
}

.player-h5 {
    flex-grow: 1;
    cursor: auto;
    /* font-size: ; */
}

.move-chat {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: calc(6 * var(--board-length) / 5);
    gap: 5px;
}

#movesBox,
#chatBox {
    background-color: var(--background-color1);
    height: 50%;
    color: var(--color2);
    width: var(--board-length);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#movesBox {
    height: 45%;
}

#chatBox {
    height: 55%;
}

.msg-list {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    list-style-type: none;
    padding: 10px;
    gap: 5px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.msg-list-left,
.msg-list-right {
    background-color: var(--background-color2);
    width: fit-content;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    transition: 200ms;
}

.msg-list-left {
    align-self: flex-start;
    box-shadow: -1px 1px 2px 1px var(--chat-box-color);
}

.msg-list-right {
    align-self: flex-end;
    box-shadow: 1px 1px 2px 1px var(--chat-box-color);
}

.msg-list-header {
    color: var(--chat-box-color);
    font-size: small;
    font-weight: bold;
}

.msg-list-content {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.msg-list-message {
    color: var(--message-color);
    font-size: small;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.msg-list-time {
    font-size: x-small;
    font-style: italic;
    /* width: 50px; */
}

.msg-form {
    display: flex;
    background: none;
    align-self: flex-end;
    width: 100%;
    padding: 10px;
}

#msg-input {
    color: var(--message-color);
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    font-weight: 500;
}

.send {
    width: 24px;
}

#msg-button {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: small;
    padding: 0px;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    height: calc(var(--board-length) / 8);
    width: var(--board-length);
}

.piece {
    position: relative;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}

.white,
.black {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--board-length) / 8);
    width: calc(var(--board-length) / 8);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--black);
}

.selectedwhite {
    background-color: #f4f680;
}

.selectedblack {
    background-color: #bbcc44;
}

.highSpan {
    position: absolute;
    z-index: 3;
    display: none;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: #0000001f;
}

.capture {
    height: 60%;
    width: 60%;
    border: 4px solid #0000003f;
    background-color: transparent;
}

#result {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    height: 150px;
    border: 2px solid var(--color1);
    background-color: var(--background-color1);
    border-radius: 10px;
    top: 40%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

::-webkit-scrollbar {
    width: 10px;
    cursor: auto;
}

::-webkit-scrollbar-track {
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #bcbed570;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #bcbed550;
}

@media(max-width : 80vh) {
    :root {
        --board-length: 100vw;
    }
}