:root {
    --board-length: 80vh;
    --white: #e9edcc;
    --black: #779954;
    --color: #e9edcc;
    --background-color: rgb(36, 36, 36);
}

* {
    box-sizing: border-box;
    margin: 0px;
    color: var(--color);
    font-family: monospace;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    height: var(--board-length);
    width: var(--board-length);
    display: flex;
    flex-direction: column;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    height: calc(var(--board-length) / 8);
    width: var(--board-length);
}

.piece {
    position: relative;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}

.white,
.black {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--board-length) / 8);
    width: calc(var(--board-length) / 8);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--black);
}

.selectedwhite {
    background-color: #f4f680;
}

.selectedblack {
    background-color: #bbcc44;
}

.highSpan {
    position: absolute;
    z-index: 3;
    display: none;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: #0000001f;
}

.capture {
    height: 60%;
    width: 60%;
    border: 4px solid #0000003f;
    background-color: transparent;
}

#result {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    height: 150px;
    border: 2px solid var(--color);
    background-color: var(--background-color);
    border-radius: 10px;
    top: 40%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

button {
    background-color: var(--background-color);
    padding: 10px;
}

@media(max-width : 80vh) {
    :root {
        --board-length: 100vw;
    }
}

/* old */

#player1,
#player2 {
    height: calc(var(--board-length) / 10);
    width: var(--board-length);
    border: 1px solid rgb(102, 101, 101);
    flex-direction: column;
}