:root {
    --board-length: 80vh;
    --white: #e9edcc;
    --black: #779954;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(36, 36, 36);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    height: var(--board-length);
    width: var(--board-length);
    display: flex;
    flex-direction: column;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    height: calc(var(--board-length) / 8);
    width: var(--board-length);
}

.piece {
    width: 100%;
    cursor: pointer;
    transition: 100ms;
}

.black,
.white {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--board-length) / 8);
    width: calc(var(--board-length) / 8);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--black);
}

.capturable {
    background-color: #ff8c8cb3;
}

.selectedwhite {
    background-color: #f4f680;
}

.selectedblack {
    background-color: #bbcc44;
}

.highSpan {
    display: none;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: #00000026;
}


@media(max-width : 80vh) {
    :root {
        --board-length: 100vw;
    }
}

/* old */

#player1,
#player2 {
    height: calc(var(--board-length) / 10);
    width: var(--board-length);
    border: 1px solid rgb(102, 101, 101);
    flex-direction: column;
}